* {
    box-sizing: border-box;
}

.menu {
    background: darkorange;
}

.menu_list {
    background: darkorange;
    float: left;
    padding: 20px;
}

.relative {
    position: relative;
}

.relative:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block
}

.menu_link {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
}

.menu_list:hover,
.menu_list:focus-within {
    background: red;
    cursor: pointer;
}

.menu_list:focus-within .menu_link {
    outline: none;
}


.dropbox_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    margin-top: 20px;
    left: 0;
    display: none;
    min-width: 300px;
}
  
.submenu_list {
    background: orange;
    transition: all 0.5s ease;
    padding: 25px;
}

.submenu_list:hover,
.submenu_list:focus-within {
    background: red;
    cursor: pointer;
}

.sub_relative {
    position: relative;
}

.sub_relative:hover > ul {
    visibility: visible;
    opacity: 1;
    display: block
}

.subdropbox_menu {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 0;
    display: none;
    min-width: 300px;
}